body{
    background-image: url(../Images/Pomme.jpg_720_1000_2);
}
body{
    background-repeat: no-repeat;
    background-size: 1035px;
}
body{
    background-size: cover;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-attachment: fixed;
}

.button{
    background-color:rgb(224, 15, 15) ;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 2rem;
    border-bottom: 5px solid red;
    transition: all.1s;
    -webkit-transition: all .1s;
    float: left;
}

.button-{
    background-color: brown; 
    border: none;
    color:   white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin:  4px 2px;
    border-radius: 2rem;
    transition: all.1s;
    -webkit-transition: all .1s;
    float: left;
}
.button:active{
    transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px)
    border-botto 1px solid;
}

#titre{
    font-size: 30px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text-1{
    background-color:rgba(0, 0, 0, 0.7) ;
    border: none;
    color: bisque;
    padding: 1rem;
    text-align: left;
    display: inline-block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px 2px;
    border-radius: 1rem;
    float:left;
}

#titre-2{
    font-size: 30px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text-2{
    background-color:rgba(0, 0, 0, 0.7) ;
    border: none;
    color: bisque;
    padding: 1rem;
    text-align: right;
    display: inline-block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px 2px;
    border-radius: 1rem;
    float: right;
    text-align: justify;
}